{% extends "base.html" %}

{% block content %}
    <h1>{{_('Hi, ')}}{{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }}{{_(' says: ')}}<b>{{ post.body }}</b></p></div>
    {% endfor %}
    <br>
    <a href="/lang06">/</a> (301)<br>
    <a href="/lang06/en/cake">/en/cake</a> (200)<br>
    <a href="/lang06/de/cake">/de/cake</a> (200)<br>
    <a href="/lang06/fr/cake">/fr/cake</a> (200)<br>
    <a href="/lang06/cake">/cake</a> (404)<br>
    <a href="/lang06/unknown">/unknown</a> (404)<br>
{% endblock %}