<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>{{_('Welcome to Microblog')}}</title>
        {% endif %}
    </head>
    <body>
        <a href="{{ url_for(request.endpoint, lang_code='en') }}">en</a>&nbsp;
        <a href="{{ url_for(request.endpoint, lang_code='de') }}">de</a>&nbsp;
        <a href="{{ url_for(request.endpoint, lang_code='fr') }}">fr</a>
        <hr>
        <div>Microblog: 
            <a href="{{ url_for('multilingual.index') }}">{{_('Home')}}</a>&nbsp;
            <a href="{{ url_for('multilingual.cake') }}">{{_('Cake')}}</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>